<div class="cataContain">
    <p>World of Warcraft: Mists of Pandaria is the fourth expansion set for the massively multiplayer online role-playing game (MMORPG) World of Warcraft, following Cataclysm. It was announced on October 21, 2011, by Chris Metzen at BlizzCon 2011, and was released on September 25, 2012.<br><br>

        Mists of Pandaria raised the existing level cap from level 85 to 90. It introduced a new character class, the monk, along with a new playable race, the Pandaren. The vanity pet system was overhauled and a pet battle system was added. Scenarios were introduced, and Challenge Modes were added for dungeons. The existing talent trees were replaced by a new system of tiered talents awarded every 15 levels. The initial patch included nine new dungeons, three new raids, two new battlegrounds and one new arena. Subsequent patches introduced the Brawler's Guild and heroic versions of the scenarios. Several additional raids, dungeons, a new battleground, and a new arena were also added.</p>


        <iframe width="560" height="315" src="https://www.youtube.com/embed/wvYXoyxLv64" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>