<div class="tbcContain">
    <p>World of Warcraft: The Burning Crusade is the first expansion set for the MMORPG World of Warcraft. It was released on January 16, 2007 at local midnight in Europe and North America, selling nearly 2.4 million copies on release day alone and making it, at the time, the fastest-selling PC game released at that point. Approximately 3.53 million copies were sold in the first month of release, including 1.9 million in North America, over 100,000 copies in Australasia, and nearly 1.6 million in Europe.</p>


</div>