<div class="wrathContain">
    <p>World of Warcraft: Wrath of the Lich King is the second expansion set for the massively multiplayer online role-playing game (MMORPG) World of Warcraft, following The Burning Crusade. It launched on November 13, 2008 and sold 2.8 million copies within the first day, making it the fastest selling computer game of all time released at that point. The game added a substantial amount of new content into the game world, including the new continent of Northrend, home of the eponymous Lich King and his undead minions. In order to advance through Northrend, players are required to reach at least level 68 and the level cap for the expansion is 80. The first hero class was introduced, the Death Knight, that starts at level 55.</p>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/BCr7y4SLhck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>